/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common  */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.buttons {
    background-color: #0161FF;
    color: white;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    min-width: 70px;
    height: 30px;
}

.centered-90{
    width: 90%;
    margin: auto;
}

.transform-translate{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-75 {
    width: 75%;
    margin: auto;
}

/* typo  */
h1 {
    font-size: 65px;
}

h2 {
    margin: 30px 0;
    font-size: 40px;
}

h3 {
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 20px;
    font-weight: 700;
}

p {
    margin: 15px 0;
}

.borders {
    border: 1px solid lightgrey;
}

/* header  */
header {
    padding: 0 10px;
    margin: 5px 0;
}

.arrow-down{
    font-size: 35px;
}

/* nav header  */
.nav-width {
    width: 50%;
    padding: 10px;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
    text-align: right;
}

img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

ul, nav li {
    display: inline-block;
    vertical-align: middle;
}

li a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

/* hero  */
.bg-color {
    background-color: #b4d0e7;
}

.hero {
    position: relative;
    bottom: -80px;
}

.col-left {
    float: left;
    width: 40%;
}

.col-right {
    float: left;
    width: 60%;
}

.buttons.button-hero {
    min-width: 200px;
    height: 30px;
    margin-top: 20px;
}

.col-right img {
    width: 100%;
    margin-top: 20px;
}

/* seconda section main  */
.container-1 {
    padding-top: 120px;
}

.colonna-left, .colonna-center, .colonna-right {
    margin-top: 40px;
    float: left;
    width: calc(100% / 3 - 20px);
    height: 900px;
    font-size: 14px;
}

.colonna-left {
    margin-right: 20px;
}  

.colonna-center {
    margin-right: 10px;
    margin-left: 10px;
}

.colonna-right {
    margin-left: 20px;
}

.singolo {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.durata {
    color: grey;
    display: block;
    margin: 10px 0px 50px 0px;
}

.title-box {
    margin: 15px;
}

.title-box div {
    margin: 20px 0px;
}

.title-box a{
    color: #0161FF;
}

.trattino {
    display: inline-block;
    width: 50px;
    height: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid grey;
}

.spunta-blu {
    color: #0161FF;
}

/* terza sezione del main */
.section-3 {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.h3-section3 {
    padding: 20px;
    position: relative;
}

.h3-section3 div:last-child {
    margin: 20px 0;
    font-weight: 500;
}

.align-right {
    position: absolute;
    top: 10px;
    right: 20px;
}

/* quarta sezione del main  */
.section-partner {
    margin-top: 100px;
    margin-bottom: 80px;
}
.partner-left {
    float: left;
    width: 60%;
}

.partner-left img {
    width: 100%;
}

.partner-right {
    padding: 20px;
    width: 40%;
    float: left;
}

.buttons.button-hero.button-partner {
    border: 1px solid black;
    background-color: white;
    color: black;
    min-width: 140px;
}

/* quinta sezione main  */

.business-row {
    margin-bottom: 30px;
}

.centered-75 div img{
    width: 100%;
}
.business-left, .business-center, .business-right {
    float: left;
    width: calc(100% / 3 - 40px);
    margin-right: 40px;
    height: 500px;
}

.business-center {
    float: left;
    width: calc(100% / 3 - 40px);
    margin-right: 40px;
    height: 500px;
}

.business-right {
    float: left;
    width: calc(100% / 3 - 40px);
    height: 500px;
}

#underline {
    text-decoration: underline;
}

