/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common  */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.buttons {
    background-color: #0161FF;
    color: white;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 70px;
    height: 30px;
}

.centered-90{
    width: 90%;
    margin: auto;
}

.transform-translate{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-75 {
    width: 75%;
    margin: auto;
}

/* typo  */
h1 {
    font-size: 65px;
}

h2 {
    margin: 30px 0;
}

h3 {
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 20px;
    font-weight: 700;
}

p {
    margin: 15px 0;
}
/* header  */
header {
    padding: 0 10px;
    margin: 5px 0;
}

.arrow-down{
    font-size: 35px;
}

/* nav header  */
.nav-width {
    width: 50%;
    padding: 10px;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
    text-align: right;
}

img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

ul, nav li {
    display: inline-block;
    vertical-align: middle;
}

li a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

/* hero  */

.bg-color {
    background-color: #b4d0e7;
}

.hero {
    height: 520px;
}

.col-left {
    float: left;
    width: 40%;
    height: 200px;
}

.col-right {
    float: left;
    width: 60%;
    height: 200px;
}

.buttons.button-hero {
    width: 200px;
    height: 30px;
    margin-top: 20px;
}

.col-right img {
    width: 100%;
    margin-top: 20px;
}

/* seconda section main  */
.container-1 {
    padding-top: 120px;
    height: 1200px;
}

.colonna-left, .colonna-center, .colonna-right {
    margin-top: 40px;
    float: left;
    width: calc(100% / 3 - 20px);
    height: 900px;
    border: 1px solid lightgrey;
    font-size: 14px;
}

.colonna-left {
    margin-right: 20px;
}  

.colonna-center {
    margin-right: 10px;
    margin-left: 10px;
}

.colonna-right {
    margin-left: 20px;
}

.singolo {
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 10px;
}

.text-singolo {
    margin: 15px;
}

.durata {
    color: grey;
    display: block;
    margin: 10px 0px 50px 0px;
}

.text-singolo div {
    margin: 20px 0px;
}

.text-singolo a{
    color: #0161FF;
}

.trattino {
    display: inline-block;
    width: 50px;
    height: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid grey;
}

.spunta-blu {
    color: #0161FF;
}

